@media only screen and (max-width: 768px) {
  body .prj h1 {
    font-size: var(--r3);
  }
  body .prj1 h2 {
    font-size: var(--r2);
  }
  body .prj1 p {
    font-size: var(--r105);
  }
  body .prjcard {
    width: 43%;
    height: calc(var(--r4) * 3);
    padding: var(--r1);
  }
}
@media only screen and (max-width: 560px) {
  body .prj h1 {
    font-size: var(--r3);
  }
  body .prj1 h2 {
    font-size: var(--r2);
  }
  body .prj1 p {
    font-size: var(--r2);
  }
  body .prjcard {
    width: 95%;
    height: calc(var(--r4) * 3);
    padding: var(--r1);
  }
}
.prj h1,
.prj h2,
.prj h3 {
  font-family: "Raleway", sans-serif;
}
.prj h1 {
  font-size: var(--r2);
  width: 100%;
  margin: var(--r2) auto;
  text-align: center;
  color: black;
}
.prj1 h2 {
  font-size: var(--r106);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: var(--r105) auto;
  font-family: "Raleway", sans-serif;
  text-align: left;
  height: var(--r4);
  color: white;
}
.prj1 p {
  font-size: var(--r103);
  display: block;
  margin: var(--r105) auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: left;
  color: white;
}
.prj1 {
  display: block;
  margin: var(--r2) auto;
  width: 95%;
}
.prj1flex {
  display: block;
  margin: auto;
  width: 100%;
  padding: 0;
  flex-wrap: wrap;
}
.prjdesktop,
.prjtablet,
.prjmobile {
  display: flex;
  margin: auto;
  width: 100%;
  padding: 0;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}
.prjcard {
  width: 26%;
  height: calc(var(--r4) * 3);
  margin: var(--r1) 1%;
  padding: 1%;
  position: relative;
  border-radius: var(--r05);
  color: white;
  background-color: goldenrod;
}
.hidden {
  visibility: hidden;
}
